html {
	height: 100%;
}

body {
	overflow: auto;
	/*overflow: hidden;*/
	background: url("bg1.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	width: 50px;
	height: 50px;
}

textarea {
	resize: none;
}

.alert {
	position: absolute;
	width: 30%;
	top: 40%;
	left: 35%;
	z-index: 100;
}

.closeBtn:hover {
	cursor: pointer;
}

#resultList tr td {
	text-align: center;
}

#sceneImg {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 15px;
	outline: none;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 10px 0 10px 0;
}

.mainHead {
	background-color: rgba(0, 0, 0, 0);
	top: 0;
}

input[type=text] {
	height: 30px;
	line-height: 30px;
}

.btn1 {
	display: inline-block;
	transform: translate(0, 0);
	width: 15%;
	height: 30px;
	margin-top: 1%;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	text-decoration: none;
	border: 0;
	outline: none;
	cursor: pointer;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 20px;
}

.btn-login {
	background-color: #88c1bc;
	color: #fff;
}

.btn-register {
	border: 2px #88c1bc solid;
	color: #88c1bc;
}

.btn1:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
}

.btn1:hover:before {
	content: "";
}

.btn1:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	border-radius: 1em;
	background: rgba(0, 0, 0, .2);
}

.btn1:active:after {
	content: "";
}

.timePickerStyle {
	border: 1px #d1d1d1 solid;
	border-radius: 5px;
	height: 30px;
	background-color: #dddddd;
	text-align: center;
}

#dateBtn {
	padding: 0 2% 0 2%;
	border: 1px #88c1bc solid;
	color: #88c1bc;
	margin-bottom: auto;
	margin-left: 20px; 
}

.userInfoLine {
	text-align: center;
	/*文字水平居中对齐*/
	line-height: 55px;
	/*设置文字行距等于div的高度*/
	vertical-align: middle;
}


/*二维码生成*/

.QRInput li {
	list-style: none;
	width: 100%;
}

.QRInput li div {
	width: 50%;
	border-radius: 5px;
	color: #282828;
	font-weight: bold;
	vertical-align: middle;
}

.redText {
	color: #FF3B30;
}

.QRInput li input {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	/*padding-right: 15px;*/
	outline: none;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 10px 0 10px 0;
}

.QRInput li textarea {
	resize: none;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	outline: none;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 10px 0 10px 0;
	padding-left: 5px;
	padding-top: 5px;
}

.QRBtn input {
	width: 20%;
	padding: 10px;
	/*background-color: rgba(255,255,255,0.3);*/
	outline: none;
	border: 0;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
}

.QRBtn input:nth-child(1) {
	margin-right: 56%;
}

.QRlist {
	/*margin-top: 20px;*/
	color: #88c1bc;
}

.text-info {
	color: #88c1bc;
}

.QRlist table {
	background-color: rgba(255, 255, 255, 0.8);
	color: #868686;
	/*border-collapse: collapse;*/
}

#listTitle {
	line-height: 30px;
	height: 30px;
}

.qrlist {
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 10px;
	width: 60%;
	padding: 2% 0 2% 0;
	margin-bottom: 5%;
	margin-left: 25%;
}

.sceneNameText {
	color: #88c1bc;
}

.deleteBtn,
.editBtn {
	/*background-color: #88c1bc;*/
	padding: 1% 4%;
}

.deleteBtn {
	margin-bottom: 10%;
}

.cancelBtn {
	margin-left: 3%;
}

.showList {
	height: 10vw;
	word-wrap: break-word;
	word-break: break-all;
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.resultList td {
	text-align: center;
}

.content-padding {
	padding-left: 3%;
	padding-right: 3%;
}

.introTitle {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

.introContent {
	font-size: 1.2em;
	text-indent: 2em;
}

.introContentTitle {
	width: 100px;
	height: 4vm;
	background-color: #88c1bc;
	color: #FFFFFF;
	text-align: center;
	line-height: 4vm;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 16px;
	margin-top: 3%;
}

.introContentBox {
	border: 2px solid #88c1bc;
	padding: 1% 2% 0 2%;
	text-indent: 2em;
	border-radius: 5px;
	border-top-left-radius: 0;
	font-size: 1em;
}

.introContentBox p {
	margin: 0;
	margin-bottom: 1%;
}


/*2017.07.20 修改样式*/

.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.ui.secondary.pointing.menu {
	background: #FFFFFF;
}

.contentPage {
	background: #FFFFFF;
	width: 90%;
	top: 50px;
	left: 5%;
	margin: 15px auto;
	max-width: 1120px;
	color: #000000;
	padding: 15px;
	border-radius: 10px;
}

.new-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

a {
	color: #88c1bc;
}

.activeContentPage {
	transform: scale(1.0);
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
	height: auto;
}

.form-control {
	padding: 0;
}

.file-input .form-control {
	height: 32px;
}

.btn-green {
	background: #88c1bc;
	color: #FFFFFF;
}

.QRInput li input,
.QRInput li textarea {
	padding: 0;
}


/*加载动画*/

.spinner {
	width: 60px;
	height: 60px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
	z-index: 9999;
}

.container1>div,
.container2>div,
.container3>div {
	width: 15px;
	height: 15px;
	background-color: #333;
	border-radius: 100%;
	position: absolute;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container2 {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.container3 {
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

.circle1 {
	top: 0;
	left: 0;
}

.circle2 {
	top: 0;
	right: 0;
}

.circle3 {
	right: 0;
	bottom: 0;
}

.circle4 {
	left: 0;
	bottom: 0;
}

.container2 .circle1 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.container3 .circle1 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.container1 .circle2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.container2 .circle2 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.container3 .circle2 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}

.container1 .circle3 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.container2 .circle3 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.container3 .circle3 {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.container1 .circle4 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

.container2 .circle4 {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}

.container3 .circle4 {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0.0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

#unitName,
#sceneUrl {
	padding: 4px 0;
}

#testInput {
	/*display: flex;
	justify-content: space-between;
	align-items: center;*/
}

#codeNum {
	width: 20%;
	display: inline-block;
	margin-left: 5%;
}

#testBtn {
	color: #FFFFFF;
	background: #88c1bc;
	width: 20%;
	display: inline-block;
	margin-left: 5%;
}


/*加载动画2*/

.spinnerTwo {
	margin: 10px auto 0;
	width: 150px;
	text-align: center;
}

.spinnerTwo>div {
	width: 10px;
	height: 10px;
	background-color: #bbbbbb;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinnerTwo .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinnerTwo .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0.0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
.disNone{
	display: none;
}
#currentResult{
	text-align: center;
	font-family:"arial black";
	font-size: 20px;
}


/*2017-12-27 by htt*/
#StatisticNum .totalUsers, .totalNumber, #QRNum{
	width: 200px;
	height: 150px;
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
	box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
	text-align: center;
	display: inline-block;
	margin: 30px 10px;
	margin-top: 0;
}
#StatisticNum .totalUsers:after, .totalNumber:after, #QRNum:after{
	content: "";
	position: relative;
	top: 0;
	-webkit-transform: translate(-50%) rotate(45deg);
	transform: translate(-50%) rotate(45deg);
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid #88c1bc;
	/*background: #88c1bc;*/
	border-radius: 4px;
}
#StatisticNum div p{
	margin-top: 30px;
}
.ui.menu{height: 50px;display: flex;align-content: center; font-size: 16px;}
.ui.secondary.pointing.menu .active.item{border-color: transparent;}
.ui.secondary.pointing.menu .item{margin: 0;}
.ui.secondary.pointing.menu .active.item:hover {border-color: transparent;color: rgba(0,0,0,.95);}

.lookRank{display: flex;justify-content: flex-start;}
.lookRank>div{height: 709px;}
.rankNo1{width: 20%;min-width:250px;background: rgba(136,193,188, .5); display: flex;flex-direction: column; justify-content: space-between;}
.rankList{width: 70%;background: #f9f9f9;overflow: hidden;}
.no1Tag{width: 50px;height:50px;background: url(no1.png); background-size: 100% 100%;}
.no1Code{width: 150px;height: 150px;margin: 30px auto 0;}
.no1Code img{width: 100%; height: 100%;}
.no1Msg{text-align: center;}
/*.rankList ul{overflow-y: auto;}*/
.rankList li{ height: 50px; padding: 10px 20px; position: relative;}
.rankList li .rankNum{font-size: 20px; font-style: italic; margin-left: 15px;}
.rankList li+li{border-top: 1px solid #eee;}
.rankList li .rateFg{width: 80%;height: 100%; background: rgba(173,216,230, .8); float: left; position: relative;top: 0;left: 0;}
.rankMsg{position: absolute;width: 100%;z-index: 100;}
.rankMsg>*{display: inline-block;}
.rankMsg>div{width: 50px; text-align: center; margin-right: 20px;}
.rankMsg>img{margin-right: 30px;}
.lookNum{margin-right: 50px; font-size: 20px; float: right;line-height: 50px;}
.lookNum em{font-size: 12px;}
body{background: rgba(136,193,188, .2);}
canvas{position: fixed; z-index: -1;}
.contentPage{-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.15);box-shadow: 0 0 8px 0 rgba(0,0,0,.15);}
.rankBtn{background: rgba(136,193,188, .7);position: relative;bottom: 0;width: 100%;height: 50px; display: flex;align-items: center;justify-content: space-around;}
.rankBtn>a{color: #FFF;}
.rankBtn>a.activeType{font-weight: bold;font-size: 16px;}