    html,
    body {
    	position: relative;
    	height: 100%;
    }
    
    body {
    	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    	font-size: 14px;
    	color: #000;
    	margin: 0;
    	padding: 0;
        background: url(bg.png) no-repeat;
    }
    
    a {
    	color: #88c1bc;
    }
    .form-control:focus{
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .form-margin input::-moz-placeholder {
    	color: #88c1bc;
        opacity: .5;
    }
    
    .form-margin input:-ms-input-placeholder {
        color: #88c1bc;
        opacity: .5;
    }
    
    .form-margin input::-webkit-input-placeholder {
        color: #88c1bc;
        opacity: .5;
    }
    
    .swiper-container {
    	width: 100%;
    	height: 100%;
    }
    
    .swiper-slide {
    	text-align: center;
    	font-size: 18px;
    	background: #fff;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-pack: center;
    	-ms-flex-pack: center;
    	-webkit-justify-content: center;
    	justify-content: center;
    	-webkit-box-align: center;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	align-items: center;
    }
    
    .login {
    	color: #88c1bc;
    	width: 432px;
        margin: 200px auto;
        text-align: center;
        background: #FFFFFF;
        padding: 20px 50px;
    }
    
    #title {
    	/*font-family: "Impact";*/
        font-family: "Century Gothic";
        font-size: 50px;
    }
    #little-title{
        font-size: 16px;
        margin-top: 10px;
    }
    
    .form-margin {
    	margin-top: 20px;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
        border-bottom: 1px solid #ddd;
    }
    
    .form-margin input {
    	width: 90%;
    	background: rgba(0, 0, 0, 0);
        border: none;
    	color: #999;
        margin: 0 auto;
        outline: none;
        box-shadow: none;
        font-size: 16px;
    }
    
    .btn-login {
    	width: 100%;
    	/*background: rgba(255, 255, 255, 0.3);*/
    	/*border: 1px solid #FFFFFF;*/
        background: #88c1bc;
        color: #fff;
        margin-top: 15px;
        font-size: 16px;
        height: 40px;
    }
    
    .btn-login:hover {
    	background: rgba(255, 255, 255, 0.5);
    }