    html,
    body {
    	position: relative;
    	height: 100%;
    }
    
    body {
    	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    	font-size: 14px;
    	color: #000;
    	margin: 0;
    	padding: 0;
        background: url(bg.png) no-repeat;
    }
    
    a {
    	color: #88c1bc;
    }
    .form-margin input::-moz-placeholder {
    	color: #88c1bc;
        opacity: .5;
    }
    
    .form-margin input:-ms-input-placeholder {
        color: #88c1bc;
        opacity: .5;
    }
    
    .form-margin input::-webkit-input-placeholder {
        color: #88c1bc;
        opacity: .5;
    }
    
    .swiper-container {
    	width: 100%;
    	height: 100%;
    }
    
    .swiper-slide {
    	text-align: center;
    	font-size: 18px;
    	background: #fff;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-pack: center;
    	-ms-flex-pack: center;
    	-webkit-justify-content: center;
    	justify-content: center;
    	-webkit-box-align: center;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	align-items: center;
    }
    
    .login {
    	color: #88c1bc;
    	width: 432px;
        margin: 200px auto 20px;
        text-align: center;
        background: #FFFFFF;
        padding: 20px 50px;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
        box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
        border-radius: 2px;
    }
    
    #title {
    	/*font-family: "Impact";*/
        font-family: "Century Gothic";
        font-size: 50px;
    }
    #little-title{
        font-size: 16px;
        margin-top: 10px;
    }
    
    .form-margin {
    	margin-top: 20px;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
        border-bottom: 1px solid #ddd;
    }
    
    .form-margin input {
    	width: 90%;
    	background: rgba(0, 0, 0, 0);
        border: none;
        color: #999;
        margin: 0 auto;
        outline: none;
        box-shadow: none;
        font-size: 16px;
    }
    
    .btn-login {
    	width: 100%;
    	/*background: rgba(255, 255, 255, 0.3);*/
    	/*border: 1px solid #FFFFFF;*/
        background: #88c1bc;
        color: #fff;
        margin-top: 15px;
        font-size: 16px;
        height: 40px;
    }
    
    .btn-login:hover {
    	color: #FFFFFF;
    }
    .mtShow{
        width: 432px;
        margin: 0 auto;
        /*padding: 0 50px;*/
    }
    .mtShow .btn-mt{
        width: 100%;
        color: #FFFFFF;
        outline: none;
        margin-bottom: 10px;
    }
    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: none;
        outline-offset: 0;
    }
    .qrcode{
        height: 250px;
        opacity: 1;
        -webkit-transition: opacity .3s,height .3s;
        transition: opacity .3s,height .3s;
    }
    .qrcodeHide{
        height: 0;
        opacity: 0;
    }
    .qrcode:before, .qrcode:after{
        content: "";
        position: absolute;
        top: 423px;
        -webkit-transform: translate(-50%) rotate(45deg);
        transform: translate(-50%) rotate(45deg);
        left: 50%;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 4px;
    }
    .qrcode .codeImg{
        margin: 0 auto;
        width: 250px;
        height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        background-size: 200px 200px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-image: url(wxQRCode.jpg);
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
        box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
        border-radius: 2px;
    }

    
    .form-control:focus{
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    